<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../style.css">
<!--    <script type="module" src="src/service.js"></script>-->
</head>
<body>
    <div class="profile_content">
        <h1>Налево пойдешь - список чатов найдешь, направо - содержимое чатов, прямо - сломаешь экран</h1>
    </div>
</body>
</html>
