---
name: "Elisaveta"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../style.css">
<!--    <script type="module" src="src/service.js"></script>-->
</head>
<body>
    <div class="profile_content">
        <div style="margin-top: 40px;">
            <svg width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="65" cy="65" r="65" fill="#EFEFEF"/>
            </svg>
        </div>
        <p>{{name}}</p>
        <div>
            {{>profileInformationBlock title="Почта" value="test@yandex.ru"}}
            {{>profileInformationBlock title="Логин" value="elis"}}
            {{>profileInformationBlock title="Имя" value="elis"}}
            {{>profileInformationBlock title="Фамилия" value=""}}
            {{>profileInformationBlock title="Имя в чате" value="Елизавета"}}
            {{>profileInformationBlock title="Телефон" value="+7 910 000 12 20"}}
        </div>
        <br>
        {{>button title="Изменить данные" className="full_button"}}
        {{>button title="Изменить пароль" className="full_button"}}
        <a class="empty_button" href="signIn.hbs">Выйти</a>
    </div>
</body>
</html>
