---
name: "Login"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reg</title>
    <link rel="stylesheet" href="../../style.css">
    <script src="../service.js"></script>
</head>
<body>
    <form class="content-center reg_size" onsubmit="submitted();">
        <p>Регистрация</p>
        {{>input title="Почта" fieldName="email" type="text"}}
        {{>input title="Логин" fieldName="login" type="text"}}
        {{>input title="Имя" fieldName="first_name" type="text"}}
        {{>input title="Фамилия" fieldName="second_name" type="text"}}
        {{>input title="Телефон" fieldName="phone" type="text"}}
        {{>input title="Пароль" fieldName="password" type="text"}}
        {{>input title="Пароль (еще раз)" fieldName="password_compare" type="text"}}
        {{>input type="submit" title="Зарегистрироваться" className="full_button"}}
        <a class="empty_button" href="signIn.hbs">Войти</a>
    </form>
</body>
</html>
