<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../style.css">
<!--    <script type="module" src="src/index.js"></script>-->
</head>
<body>
    <div class="content-center log_size">
        <p>Вход</p>
        {{>input title="Логин" name="login"}}
        {{>input title="Пароль" name="password"}}
        <br><br>
        <br><br>
        <br><br>
        {{>button title="Авторизироваться" className="full_button"}}
        {{>button title="Нет аккаута?" className="empty_button"}}
    </div>
</body>
</html>