---
name: "Login"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reg</title>
    <link rel="stylesheet" href="../style.css">
<!--    <script type="module" src="src/index.js"></script>-->
</head>
<body>
    <div class="content-center reg_size">
        <p>Регистрация</p>
        {{>input title="Почта" name="email"}}
        {{>input title="Логин" name="login"}}
        {{>input title="Имя" name="first_name"}}
        {{>input title="Фамилия" name="second_name"}}
        {{>input title="Телефон" name="phone"}}
        {{>input title="Пароль" name="password"}}
        {{>input title="Пароль (еще раз)" name="password_compare"}}
        <br>
        {{>button title="Зарегистрироваться" className="full_button"}}
        {{>button title="Войти" className="empty_button"}}
    </div>
</body>
</html>